
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #071e2e; /* Dark teal */
  color: #cacae1;           /* White text for contrast */
  font-family: Arial, Helvetica, sans-serif;
}